body{
background-color: #f8f5f1;
}

header{
    color: #f8f5f1;
    background-color:#003366;
    height: 80px;
}

header nav{
    float: right;

}

header h1{
    float: left;
    margin-left: 20px;
}

header nav ul li{
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    margin-right: 20px;
}

header nav ul li a{
color: #f8f5f1;
text-decoration: none;
font-weight: 500;
}

#first {font-size: larger;
    text-align: center;

}

.paragraph{
    text-align: left;
}

#second{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
}

footer{
    background-color:#003366;
    height: 80px;

}